@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #0369A1;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.lists{
    padding: 1rem 2rem;
    background-color: #F0F9FF;
    margin: 2rem 2rem;
    border-radius: 2rem;
}

.blog-lists{
    padding: 1rem 2rem;
    background-color: #F0F9FF;
    color: #0369A1;
    margin: 2rem 2rem;
    border-radius: 2rem;
}

.blog-lists h2{
    color: black;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.nav-brand {
    font-weight: bold;
    font-size: large; 
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/* headers */

.hero {
    padding: 1rem 0rem;
}

.hero-img {
    max-width: 250px;
    display: block;
    margin: auto;
}

.hero-heading {
    font-size: 1.5rem;
    padding: 1rem;
    color: gray;
    text-align: center;
}

.heading-inverted {
    color: var(--primary-color);
}


/* section */

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
    
}
.ow{
    background-color: #F0F9FF;
    
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    margin-top: 4rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.footer .link{
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}